{% extends "core/base.html" %}
{% load staticfiles %}

{% block content %}

<div class = "container">
	<form accept-charset = "UTF-8" action = "/calculator/" id = "start_survey" method = "post">
		<fieldset>
			<legend>Personal</legend>
			
			<div class="form-group">
				<label for="Birthday">What is your marital status?</label>
				<select class = "form-control" id="date_month" name="date[month]" style="width: 110px; height: 30px;">
					<option value=""></option>
					<option value="1">January</option>
					<option value="9">September</option>
					<option value="10">October</option>
					<option value="11">November</option>
					<option value="12">December</option>
				</select>
	    	</div>

		    <div class="form-group">
		    	<label for="Gender">Gender&nbsp;&nbsp;&nbsp;</label>
		    	<div class="radio">
		    		<label>
						<input type = "radio" name="gender" value="M" id="gender_M">
						Male
					</label>
				</div>
				<div class="radio">
		    		<label>
						<input type = "radio" name="gender" value="F" id="gender_F">
						Female
					</label>
				</div>
			</div>

			<div class="form-group">
				<label for="Q">What's your choice?</label>
				<div class = "checkbox">
					<label>
						<input type = "checkbox" value="1">
						Check1
					</label>
				</div>
				<div class = "checkbox">
					<label>
						<input type = "checkbox" value="2">
						Check2
					</label>
				</div>
		    </div>
		</fieldset>

		<fieldset>
			<legend>Lifestyle</legend>

			<div class="form-group">
		    	<label for="q">How is the air quality where you live?</label>
		    	<div class="radio">
		    		<label>
						<input type = "radio" name="gender" value="M" id="gender_M">
						Very bad
					</label>
				</div>
				<div class="radio">
		    		<label>
						<input type = "radio" name="gender" value="F" id="gender_F">
						Average
					</label>
				</div>
				<div class="radio">
		    		<label>
						<input type = "radio" name="gender" value="I" id="gender_F">
						OK
					</label>
				</div>
			</div>

		</fieldset>

		<fieldset>
			<legend>Nutrition</legend>

			<div class="form-group">
		    	<label for="q">Do you body build or strenth train to the degree that your body mass index is high because of muscle, not because of fat?</label>
		    	<div class="radio">
		    		<label>
						<input type = "radio" name="gender" value="M" id="gender_M">
						Yes
					</label>
				</div>
				<div class="radio">
		    		<label>
						<input type = "radio" name="gender" value="F" id="gender_F">
						No
					</label>
				</div>
			</div>
		</fieldset>

		<fieldset>
			<legend>Medical</legend>

			<div class="form-group">
		    	<label for="q">Do you have a bowel movement at least once every two days?</label>
		    	<div class="radio">
		    		<label>
						<input type = "radio" name="gender" value="M" id="gender_M">
						Yes
					</label>
				</div>
				<div class="radio">
		    		<label>
						<input type = "radio" name="gender" value="F" id="gender_F">
						No
					</label>
				</div>
			</div>

		</fieldset>

		<fieldset>
			<legend>Family</legend>

			<div class="form-group">
		    	<label for="q">How many members of your immediate family have diabetes or have had a heart attack?</label>
		    	<div class="radio">
		    		<label>
						<input type = "radio" name="gender" value="M" id="gender_M">
						None
					</label>
				</div>
				<div class="radio">
		    		<label>
						<input type = "radio" name="gender" value="F" id="gender_F">
						One
					</label>
				</div>
				<div class="radio">
		    		<label>
						<input type = "radio" name="gender" value="w" id="gender_F">
						Two
					</label>
				</div>
				<div class="radio">
		    		<label>
						<input type = "radio" name="gender" value="t" id="gender_F">
						Three or more
					</label>
				</div>
				<div class="radio">
		    		<label>
						<input type = "radio" name="gender" value="i" id="gender_F">
						I don't know
					</label>
				</div>
			</div>

		</fieldset>


		<button type="submit" class="btn btn-default">Submit</button>
	</form>
</div>
{% endblock content %}